<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DAO Impl의 namespace와 통일해야 데이터 mapper문 읽을 수 있음 -->
<mapper namespace="com.eco.mapper.ContactMapper">
	
	<!-- 고객 소리함 게시글 작성(POST) -->
	<insert id="writePost">
		insert into contact (email,title,content,contact_date,contact_name,contact_num)
		values (#{email}, #{title}, #{content}, #{contact_date}, #{contact_name},#{contact_num})
	</insert>
	
	<!-- 고객 소리함 게시글 목록(GET)-->
	<select id="boardList" resultType="ContactVO">
		select *
		from contact 
		order by contact_date desc
	</select>
	
	<!-- 고객의 소리함 게시글 상세보기(GET) -->
	<select id="boardContent" resultType="ContactVO">
		select * 
		from contact 
		where contact_num = #{contact_num}
	</select>
	
	<!-- 고객의 소리함 게시글 수정(GET)  -->
	<select id="boardUpdateGet" resultType="ContactVO">
		select * 
		from contact 
		where contact_num = #{contact_num}
	</select>
	
	<!-- 고객의 소리함 게시글 수정(POST)  -->
	<update id="boardUpdatePost" parameterType="ContactVO">
		update contact 
		set contact_name =#{contact_name}, email=#{email}, title=#{title}, content=#{content} 
		where contact_num =#{contact_num} 
	</update>
	<!-- 고객의 소리함 게시글 삭제(POST)  -->
	<delete id="boardDelete">
		delete 
		from contact 
		where contact_num =#{contact_num}
	</delete>
</mapper>